---
import SkewedBackground from "./SkewedBackground.astro";

const res = await fetch(
  `${import.meta.env.PUBLIC_DIRECTUS_ENDPOINT}/items/pastors_message?limit=1`
);
const pastorsMessage = await res.json();
const { headline, text } = pastorsMessage.data;
---

<style>
  .wrap {
    display: flex;
    background-color: #efefef;
    align-items: stretch;
    min-height: 750px;
  }

  .about {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 80px;
  }

  .about-text {
    margin-top: 2rem;
  }

  .image {
    width: 50%;
    background-image: url("../images/sanctuary.jpg");
    background-size: cover;
    background-position: center;
  }

  .image-wrap {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 25px;
  }
  
  @media only screen and (max-width: 1024px) {
    .wrap {
      flex-direction: column-reverse;
    }

    .about {
      width: 100%;
    }

    .image {
      width: 100%;
      height: 50vh;
    }
  }
</style>

<section class="wrap">
  <div class="about">
    <SkewedBackground color="#222">
      <h2>{headline}</h2>
    </SkewedBackground>
    <div set:html={text} class="about-text" />
  </div>
  <div class="image"></div>
</section>
