.hero-image {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90vh;
  color: #FFF;
  background-attachment: fixed;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.title-wrap {
  text-align: center;
  z-index: 1;
}

.service-time {
  margin-top: 5px;
  font-size: 2rem;
}
