.content {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #363436;
}

.title {
  text-align: center;
  width: 40%;
  font-size: 6.2rem;
  color: #efefef;
  -webkit-text-stroke: 1px #575757;
  text-shadow: -2px -2px 3px #575757, 2px -2px 3px #575757, -2px 2px 3px #575757,
    2px 2px 3px #575757;
  line-height: 6.4rem;
  margin-top: 100px;
  margin-bottom: 80px;
}

.point {
  width: 80%;
  font-size: 2.2rem;
  line-height: 2.8rem;
  margin-bottom: 40px;
}

.cursive {
  font-size: 3rem;
  font-family: "Pacifico", cursive;
}

.scripture {
  font-size: 1.8rem;
  font-style: italic;
}

.covidContainer {
  width: 100%;
  background-color: #b8d0cd;
  padding: 60px;
  margin-top: 20px;
}

.covidContainer h2 {
  text-align: center;
  color: #363436;
  font-size: 7rem;
}

p {
  font-size: 2.2rem;
}

strong {
  font-weight: 700;
  display: block;
}

@media only screen and (max-width: 1024px) {
  .title {
    width: 90%;
  }

  .point {
    width: 90%;
  }

  .covidContainer {
    padding: 40px 20px;
  }
}
