---
---

<style>
  .content {
      background-color: #fff;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #363436;
      padding-bottom: 40px;
    }

  .title {
      text-align: center;
      width: 40%;
      font-size: 6.2rem;
      color: #efefef;
      -webkit-text-stroke: 1px #575757;
      text-shadow: -2px -2px 3px #575757, 2px -2x 3px #575757, -2px 2px 3px #575757, 2px 2px 3px #575757;
      line-height: 6.4rem;
      margin-top: 100px;
      margin-bottom: 80px;
    }

  .description {
      font-size: 2.2rem;
      line-height: 2.8rem;
      margin-bottom: 16px;
    }

  .point {
      width: 80%;
      font-size: 2.2rem;
      line-height: 2.8rem;
      margin-bottom: 40px;
    }

  .cursive {
      font-size: 3rem;
      font-family: "Pacifico", cursive;
    }

  .scripture {
      font-size: 1.8rem;
      font-style: italic;
    }

  p {
      font-size: 2.2rem;
    }

  strong {
      font-weight: 700;
      display: block;
    }

  @media only screen and (max-width: 1024px) {
      .title {
          width: 90%;
        }

      .point {
          width: 90%;
        }
    }
</style>

<section class="content">
  <div class="title">What is Kingdom Kids and what do we do during church?</div>

  <div class="point">
    <div class="text">
      <span class="cursive">{`Christ-centered `}</span>
      program that teaches from the Bible and encourages kids to hold fast to God’s
      truths.
    </div>
    <div class="scripture">
      “All Scripture is breathed out by God and profitable for teaching, for
      reproof, for correction, and for training in righteousness” -2 Timothy
      3:16
    </div>
  </div>

  <div class="point">
    <div class="text">
      <span class="cursive">{`Honour God. `}</span>
      We seek to always honour God through our words and actions by applying the
      Truth to our lives because we understand we are a light in the world.
    </div>
    <div class="scripture">
      “Little children, let us not love in word or talk but in deed and in
      truth.” -1 John 3-18
    </div>
  </div>

  <div class="point">
    <div class="text">
      <span class="cursive">{`Understand. `}</span>
      We study God’s Word to understand Scripture, and to identify our individual
      purpose as God’s vessel.
    </div>
    <div class="scripture">
      “Trust in the Lord with all your heart, and do not lean on your own
      understanding. In all your ways acknowledge him, and he will make straight
      your paths.” -Proverbs 3:5-6
    </div>
  </div>

  <div class="point">
    <div class="text">
      <span class="cursive">{`Relationships. `}</span>
      We value relationships with one another and seek to build them to create a
      safe place to ask, learn and grow.
    </div>
    <div class="scripture">
      “Therefore encourage one another and build one another up, just as you are
      doing.” -1 Thessalonians 5:11
    </div>
  </div>

  <div class="point">
    <div class="text">
      <span class="cursive">{`Community. `}</span>
      We love our community and we encourage kids to share God’s truths to their
      scope of influence and volunteer at our outreach events. Our mission is to
      lead kids to become great leaders with servant hearts. We serve kids so they
      can know how to serve others.
    </div>
    <div class="scripture">
      “Love one another with brotherly affection. Outdo one another in showing
      honor. Do not be slothful in zeal, be fervent in spirit, serve the Lord”
      -Romans 12:10-11
    </div>
  </div>

  <div class="point">
    <div class="text">
      <span class="cursive">{`Humility. `}</span>
      We practice humility because we understand God is our Creator and we are His
      children. We seek to put others first above ourselves and lift up each other
      with love.
    </div>
    <div class="scripture">
      “For by the grace given to me I say to everyone among you not to think of
      himself more highly than he ought to think, but to think with sober
      judgment, each according to the measure of faith that God has assigned.”
      -Romans 12:3
    </div>
  </div>
</section>
