.section {
  position: relative;
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  padding: 80px 60px;
}

.video-wrap {
  position: relative;
  width: 40%;
}

.force-aspect-ratio {
  padding-bottom: 56.25%;
}

.video {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.sermon-info {
  text-align: center;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 40px 20px;
}

.title {
  width: 60%;
}

.info-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 1024px) {
  .section {
    flex-direction: column-reverse;
    align-items: center;
    padding: 40px 30px;
  }

  .video-wrap {
    width: 80%;
  }

  .sermon-info {
    width: 100%;
    padding: 0 15px 20px 15px;
  }

  .title {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 640px) {
  .section {
    padding: 20px 15px;
  }

  .video-wrap {
    width: 98%;
  }
}
