---
import { YouTube } from "@astro-community/astro-embed-youtube";

interface Props {
  id: string;
  title: string;
  context: string;
  speaker: string;
}

const { id, title, context, speaker } = Astro.props;
---

<style>
  .sermon {
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    margin: 0 60px;
    padding: 80px;
    border-bottom: 1px solid #555;
  }

  .sermon:last-child {
    border-bottom: none;
  }

  .video-wrap {
    position: relative;
    width: 40%;
  }

  .force-aspect-ratio {
    padding-bottom: 56.25%;
  }

  .video {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-width: none;
  }

  .sermon-info {
    text-align: center;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 40px 20px;
  }

  .info-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  @media only screen and (max-width: 1024px) {
    .sermon {
      flex-direction: column;
      align-items: center;
      margin: 0 30px;
      padding: 40px;
    }

    .video-wrap {
        width: 80%;
      }

    .sermon-info {
        width: 100%;
        padding: 20px 15px 0 15px;
      }
  }
</style>

<div class="sermon">
  <div class="video-wrap">
    <div class="force-aspect-ratio"></div>
    <YouTube class="video" id={id} />
  </div>
  <div class="sermon-info">
    <div class="info-text">
      <h3>{title}</h3>
      <h4>{context} | {speaker}</h4>
    </div>
  </div>
</div>
