.wrapper {
  position: relative;
  padding: 3px 40px;
  font-weight: 700;
  font-style: italic;
  line-height: 1;
  margin-bottom: 5px;
}

.background {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: skew(-25deg);
}

.content {
  position: relative;
  z-index: 1;
}

@media only screen and (max-width: 1024px) {
  .wrapper {
    padding: 3px 20px;
  }
}
